* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#ffffff;
    background-color:rgba(255, 255, 255, 0.4);
    /* height: 40px; */
    border-radius: 35px;
    padding: 0px;
    border: 2px solid black;
    text-decoration: none;
    align-items: center;
    display: flex;

}
.search-box:hover > .search-text {
    width: 240px;
    padding: 0 6px;
} 

.search-box:hover > .search-btn {
    background: white;
}

.search-btn{
    color: #2d3436;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #74b9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 21px;
    width: 0px;
}
