* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

 #logoClima {
  margin-right: 5%;

}

.letra {
  font-family: sans-serif;
  color: white;
  font-style: initial;
  margin-right: 10px;
  
}
