.card {
  margin: 20px;
  width: 18rem;
  background-color: rgb(125, 154, 207);
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.col-sm-4min{
  background-color: rgb(80, 107, 156);
  border-radius: ;
}